# we delist all folders containing recreateable stuffs, and add an explainer (txt file) to describe reproduction
# django and its source
django/

# color picker
color-picker/


# postgresql
postgresql/*
!postgresql/
!postgresql/*.conf

# python

# python cource: automate the boring stuff
# i am keeping that because i manually edited the html
# 1. exclude all files 
# 2. include parent directory 
# 3. include files in this directory 
automate-the-boring-stuff/*
!automate-the-boring-stuff/
!automate-the-boring-stuff/*[.html|.conf]

# django
django/*
!django/
!django/*.conf

# doc to md
doc-to-md/*
!doc-to-md/convert-docx-to-markdown.md