# we delist all folders containing recreateable stuffs, and add an explainer (txt file) to describe reproduction
# django and its source
django/
docs/

# color picker
color-picker/

# little harder to recreate, as i have manually chnages links in html 
automate-the-boring-stuff/

# explainers we want
!*.txt
!postgresql/*.txt
